.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px;
    text-align: left;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 0 0 0 -5%;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }

  .button:active {
    background-color: #45a049;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  label {
    margin: 1px;
    font-size: 16px;
    color: white;
  }
  
  .input {
    border: none;
    padding: 4px 0px;
    width: 6%;
    text-align: center;
    font-size: 14px;
    margin: 10px 10px;
    cursor: pointer;
  }

  .balance {
    margin-left: -20%;
    color: #4CAF50;
  }

  .last-crash {
    margin-left: -45%;
  }

  crassArray {
    margin-left: -45%;
  }