  label {
    margin: 1px;
    font-size: small;
    color: white;
  }
  
  input {
    border: none;
    padding: 1px 0px;
    width: 10%;
    text-align: center;
    font-size: small;
    margin: 10px 10px;
    cursor: pointer;
  }

  .balance {
    color: #4CAF50;
    font-style: italic;
    font-weight: bold;
  }

  .last-crash {
    font-size: small;
    color: white;
  }

  .crashArray {
    font-size: small;
  }

  @import url('https://fonts.googleapis.com/css?family=Montserrat:600');
*{
  font-family: 'Montserrat', sans-serif;
}

body{
  background:#282c34;
  text-align:center;
  color:green
}

#nbr{
  font-size:62px;
  margin:44px 0 0 0;
}

button{
  border:2px solid #fff;
  padding:2px;
  cursor:pointer;
  color:white;
  background:green
}

button:active{
  background:#282c34;
  color:#fff;
  cursor: pointer;
}

